{
  "serverIp": "223.130.xxx.xxx",
  "sshUser": "root",
  "sshKey": "C:\\Users\\user\\keys\\baroilji-prod.pem",
  "sshPort": 2222,
  "remotePath": "/opt/baroilji",
  "branch": "main",
  "pm2Name": "baroilji"
}
